<header id="navigation" class="p-navigation">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link is-selected" href="/" id="logo">
          alice &bull; os
          <!--<img class="p-navigation__image" src="{{ site.baseurl }}/assets/img/logomark.svg" alt="alice &bull; os&nbsp;">-->
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav" role="menubar">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        <li class="p-navigation__link" role="menuitem">
                <a href="https://docs.aliceos.app">Docs</a>
              </li>
              <li class="p-navigation__link {% if page.url == '/features/' %} is-selected{% endif %}" role="menuitem">
                <a href="/features/">Features</a>
              </li>
        <li class="p-navigation__link {% if page.url == '/studio/' %} is-selected{% endif %}" role="menuitem">
            <a href="/studio/">The Studio</a>
          </li>
      </ul>
      <ul class="p-navigation__links u-align--right" role="menu">
            <li class="p-navigation__link u-align--right" role="menuitem">
                <a href="https://github.com/TheAngelReturns/aliceos">
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>