// Override default Vanilla settings in your main Sass file
$font-base-family: 	'"Open Sans", Arial, "libra sans", sans-serif';
$font-heading-family:  	'Raleway, Arial, "libra sans", sans-serif';
$font-monospace: '"Roboto Mono", Consolas, Monaco, Courier, monospace';
$color-positive: #68b723;
$color-negative: #c6262e;
$color-brand: #d48e15;
$color-navigation-background: #1a1a1a;

// Import Vanilla framework
@import 'vanilla-framework/scss/vanilla';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto+Mono');


// Include all of Vanilla Framework
@include vanilla;