---
layout: null
sitemap: false
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";

.shadow {
	text-shadow: 4px 4px 8px #333333; 
}

.angel-dark {
	background-color: #000000;
	color: $color-brand;
}

.angel-dark-muted {
	color: #94804e;
}

.small {
	font-size: 10pt;
}

.not-italics {
    font-style: normal;
}

header#navigation div.p-navigation__banner div.p-navigation__logo a.p-navigation__link {
	font-family: "Comfortaa", $font-heading-family;
}

/* Copied from Docs */
.p-navigation__logo {
	align-items: center;
	padding-right: 32px;
  }

  .p-navigation__logo .p-navigation__link {
	align-items: center;
  }

  .p-navigation__logo h4 {
	font-size: 1.30612rem;
	font-weight: 300;
	margin: 0 .5rem;
  }

  .p-sidebar__banner {
	padding-top: 24px;
	padding-bottom: 24px;
  }